* {
  font-family: "DIN Next W01 Regular", Helvetica, Arial, sans-serif;
  //font-family: "DIN Next W01 Regular";
  margin: 0;
}

body {
  margin: 0;
}

.wrapper {
  width: calc(100vw - 200px);
  height: 100%;
  margin: 0 auto;
  background-color: #151515;
  max-width: 1400px;
  box-sizing: border-box;
  color: #b9b9b9;
  border-radius: 5px;

  @media (max-width: 845px) {
    width: calc(100vw - 30px);
  }
}

.title {
    padding: 10px;
    text-align: center;
}